main {
  padding: 20px 50px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

h1.title {
  font-size: 62px;
  text-align: center;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  margin-top: 50px;
  justify-content: space-around;
}

.search {
  margin-bottom: 20px;
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filter-panel {
  width: 200px;
  padding: 15px;
  border-right: 2px solid #ccc;
}

.filter-panel p {
  margin-bottom: 15px;
}

.filter-panel label {
  display: block;
  margin-bottom: 10px;
}
